html{
    background-color: #fff;
    height: 100%;
    font-family: 'Red Hat Text';
    color: #333;
}
html, body {
    margin: 0px;
}
h1, h2, h3, h4{
    font-family: 'Red Hat Display';
    color: #666;
    margin: 0px;
}
a{
    color: #fb3;
    text-decoration: none;
}
a:visited{
    color: #fb3;
    text-decoration: none;
}
a:hover{
    color: #fb3;
    text-decoration: underline;
}
button{
    background-color: #fff;
    color: #333;
    font-family: 'Red Hat Text';
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}
button:hover{
    background-color: #ddd;
}
.contactTitle{
    text-align: center;
}
.contact{
    margin: 0px auto 30px;
    display: block;
    width: 650px;
}
.contact input, .contact select, .contact textarea{
    width: 415px;
    padding: 5px;
    box-sizing: content-box;
    font-family: 'Red Hat Text';
    color: #333;
}
.contact label{
    margin: 5px 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.contact textarea{
    height: 200px;
}
.contact .submit{
    text-align: right;
}

@media screen and (max-width:480px){
    .contact{
        width: 100%;
    }
    .contact p{
        width: 100%;
    }
    .contact input, .contact select, .contact textarea{
        width: 100%;
        box-sizing: border-box;
    }
    .contact label{
        display: block;
    }
}