html{
    background-color: #fff;
    height: 100%;
    font-family: 'Red Hat Text';
    color: #333;
}

h1, h2, h3, h4{
    font-family: 'Red Hat Display';
    color: #666;
}
a{
    color: #666;
    text-decoration: none;
}
a:visited{
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #333;
}
button{
    background-color: #fff;
    color: #333;
    font-family: 'Red Hat Text';
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}
button:hover{
    background-color: #ddd;
}
.contactTitle{
    text-align: center;
}
.contact{
    margin: 30px auto;
    display: block;
    width: 650px;
}
.contact input, .contact select, .contact textarea{
    width: 415px;
    padding: 5px;
    box-sizing: content-box;
    font-family: 'Red Hat Text';
    color: #333;
}
.contact label{
    margin: 5px 10px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
.contact textarea{
    height: 200px;
}
.contact .submit{
    text-align: right;
}