.border{
    background-color: #666;
    padding: 20px 30px;
}
.content{
    background-color: #fff;
    padding: 20px;
    min-height: calc(100vh - 80px);
}
.container{
    display: flex;
    margin: 0px auto;
    width: 75%;
}
.children{
    display: inline;
    flex-grow: 1;
}


@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
        width: 100%;
    }
    .border{
        padding: 10px 15px;
    }
    .content{
        padding: 5px;
    }
}